Список команд: <br>
/start - Приветственное сообщение <br>
/help - Список команд <br>
/last - Вывод последних 10 трат <br>
/day - Вывод всех трат за день <br>
/week - Вывод всех трат за неделю <br>
/month - Вывод всех трат за месяц <br>
/add_expense (сумма категория) - Добавить расход <br>
/delete_expense (id) - Удалить расход по id <br>
/set_daily_limit - Установить новый дневной лимит по сумме базовых трат <br>
/get_daily_limit - Узнать дневной лимит по сумме базовых трат <br>